.vw-33 { max-width: 33vw; }
.card-body {
    padding: .25rem !important;
}

.row {
    margin-bottom: 5px;
}

hg-autofiller {
    width: 100%;
}

@media (max-width: 575px) {
    .createbtn {
        width: 28vw;
    }
}

@media (min-width: 576px) {
    .createbtn {
        width: 8vw;
    }

    .card-footer {
        padding: .75rem !important;
    }
}
