<nav aria-label="Page navigation controls">
    <ul class="pagination pagination-sm justify-content-center mb-1">
        <li class="page-item"
            [ngClass]="{'disabled': currentPage === 1}">
            <div class="page-link bg-light" (click)="prevPage()" title="Previous page">
                <i class="fa fa-caret-left"></i>
            </div>
        </li>

        <li *ngFor="let i of range"
            class="page-item"
            [ngClass]="{'active': i === currentPage}">
            <div class="page-link" (click)="current = i">{{ i }}</div>
        </li>

        <li class="page-item"
            [ngClass]="{'disabled': currentPage === range.length}">
            <div class="page-link bg-light" (click)="nextPage()" title="Next page">
                <i class="fa fa-caret-right"></i>
            </div>
        </li>
    </ul>
</nav>
