<nav aria-label="Page navigation controls">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"
            [ngClass]="{'disabled': currentPage === 1}">
            <div class="page-link" (click)="prevPage()">Prev</div>
        </li>

        <li *ngFor="let i of range"
            class="page-item"
            [ngClass]="{'active': i === currentPage}">
            <div class="page-link" (click)="current = i">{{ i }}</div>
        </li>

        <li class="page-item"
            [ngClass]="{'disabled': currentPage === range.length}">
            <div class="page-link" (click)="nextPage()">Next</div>
        </li>
    </ul>
</nav>
