<div class="alert alert-danger" role="alert" *ngIf="errorMsg">
    Server error: {{errorMsg.message}}
</div>

<div class="progress rounded-0" *ngIf="teas.length == 0 && errorMsg == null">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
</div>

<div class="card-deck my-1" *ngIf="teas.length > 0">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">You've spent how much?!</h5>
            <div class="card-text container">
                <div class="row">I have only spent&nbsp;<b>{{ totalSpent | currency:'USD':'$' }}</b>.</div>
                <div class="row">Currently have&nbsp;<b>{{ totalSpentStocked | currency:'USD':'$' }}</b>&nbsp;stocked.</div>
                <div class="row">Which is about&nbsp;<b>{{ totalSpentPerCup | currency:'USD':'$' }}</b>&nbsp;per cup.</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Gonna pee my pants</h5>
            <p class="card-text">TODO</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Top ten best values</h5>
            <div class="card-text">
                <ul>
                    <li *ngFor="let tea of topTenBestValues">{{tea.name}} ({{tea.pricePerCup | currency}})</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Top ten worst values</h5>
            <div class="card-text">
                <ul>
                    <li *ngFor="let tea of topTenWorstValues">{{tea.name}} ({{tea.pricePerCup | currency}})</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Tea drinking frequency</h5>
            <div class="card-text">
                <canvas #drinkingFrequency></canvas>
            </div>
        </div>
    </div>
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Pu-erh ratings by region</h5>
            <div class="card-text">
                <canvas #pu-erh-regions></canvas>
            </div>
        </div>
    </div>
</div>
