<div class="d-flex flex-column mt-1">
    <div class="d-flex flex-row mb-1" *ngFor="let pic of pictures; let i = index">
        <div class="btn-group-vertical">
            <button type="button" class="btn btn-secondary sortBtn" [disabled]="i === 0" (click)="sortUp(i)"><i class="fa fa-chevron-up"></i></button>
            <button type="button" class="btn btn-secondary sortBtn" [disabled]="i === pictures.length - 1" (click)="sortDown(i)"><i class="fa fa-chevron-down"></i></button>
        </div>
        <img *ngIf="pic" class="border-top border-bottom" [src]="pic" height="100" />
        <textarea class="w-100" [ngModel]="getPicture(i)" (ngModelChange)="setPicture(i, $event)" rows="3"></textarea>
        <button id="deleteBtn" type="button" class="btn btn-danger" (click)="remove(i)">&times;</button>
    </div>
    <button class="btn btn-sm btn-block btn-primary" (click)="add()">Add picture...</button>
</div>
