<div class="card-body">
    <input type="hidden" name="id" value="{{tea.id}}" />

    <p class="card-text type-country" *ngIf="tea.country || tea.type">
    <span *ngIf="tea.type">
        {{tea.type | titlecase}}
        <span *ngIf="tea.country"> from </span>
    </span>
    <span *ngIf="tea.region">{{tea.region}}, </span>
    {{tea.country}}
    </p>

    <hg-purchase-info class="class-text" [tea]="tea"></hg-purchase-info>

    <p class="card-text comments">
    <span class="card-text" *ngIf="tea.comments">{{tea.comments}}</span>
    </p>

    <!--
        blendedteas: string[]
        blendratio: string[]
    -->
</div>

<div class="card-footer text-muted small d-flex">
    <span class="text-danger" *ngIf="!tea.stocked">I'm all out</span>
    <span class="text-warning" *ngIf="tea.aging">aging</span>
    <span class="ml-auto" *ngIf="tea.date">Entered on {{tea.date}}</span>
</div>
