[Unit]
Description=HokieGeek.net_TeaDevelopment
After=docker.service,hgnetwork.service
Requires=docker.service,hgteadbdev.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill site-tea-dev
ExecStartPre=-/usr/bin/docker rm site-tea-dev
ExecStartPre=/usr/bin/docker pull registry.gitlab.com/hokiegeek.net/tea:SNAPSHOT
ExecStart=/usr/bin/docker run --name site-tea-dev --network hokiegeek.net registry.gitlab.com/hokiegeek.net/tea:SNAPSHOT
ExecStop=/usr/bin/docker stop site-tea-dev
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
