<div id="teaTypes">
    <span>Tea types: </span>
    <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownTeaTypes" ngbDropdownToggle>Add</button>
        <div ngbDropdownMenu aria-labelledby="dropdownTeaTypes">
            <button class="dropdown-item text-capitalize"
                    *ngFor="let type of teaTypes"
                    (click)="filters.active.withTeaType(type)">
                    {{type}}
            </button>
        </div>
    </div>
    <ul>
        <li *ngFor="let type of filters.active.teaTypes" class="text-capitalize">
            {{type}}
            <button type="button"
                    class="close"
                    aria-label="Remove"
                    (click)="filters.active.withoutTeaType(type)">
                    <span aria-hidden="true">&times;</span>
            </button>
        </li>
    </ul>
</div>
