<div class="card-body px-1 py-1">
    <ul class="list-group list-group-flush">
        <hg-journal-entry *ngFor="let entry of displayedEntries" [entry]="entry"></hg-journal-entry>
    </ul>
</div>

<span *ngIf="sortedEntries.length > 1">
    <button type="button" *ngIf="displayedEntriesEnd < sortedEntries.length"
            class="btn btn-light btn-sm btn-block rounded-0 card-footer py-1"
            title="Display all journal entries"
            (click)="allEntries()">
        Show all {{ sortedEntries.length }} entries
    </button>
    <button type="button" *ngIf="displayedEntriesEnd >= sortedEntries.length"
            class="btn btn-light btn-sm btn-block rounded-0 card-footer py-1"
            title="Hide all but the latest journal entry"
            (click)="rollup()">
        Show latest entry only
    </button>
</span>
