<div id="teaImages-{{tea.id}}" class="carousel slide" data-ride="carousel" data-interval="false">
    <div class="carousel-inner">
        <div class="carousel-item" *ngFor="let pic of tea.pictures; let i = index" [ngClass]="{active: i == 0}">
            <img class="d-block w-100" src="{{pic}}" />
        </div>
    </div>
    <a class="carousel-control-prev" href="#teaImages-{{tea.id}}" *ngIf="tea.pictures.length > 1" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#teaImages-{{tea.id}}" *ngIf="tea.pictures.length > 1" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
