<span title="{{tea.type}} tea from {{tea.country}}"><b>{{tea.name}}</b></span>
<span *ngIf="entry.fixins.length > 0">with&nbsp;{{entry.fixins | lowercase}}</span>
<br />
<span title="{{entry.datetime}}">{{entry.datetime | naturalDate}}</span>
<span *ngIf="entry.steeptime">for {{entry.steeptime}}</span>
<span *ngIf="entry.steepingvessel">in a {{entry.steepingvessel | lowercase}}</span>
<span *ngIf="entry.steeptemperature">at {{entry.steeptemperature}} &deg;F</span>
<br />
<div title="{{entry.rating}} out of 4">
    <img *ngFor="let i of [1,2,3,4]" class="ratingImg" [ngClass]="{ratingImgUnselected: entry.rating < i}" src="img/tea_cup.png" />
</div>
<span *ngIf="entry.comments"><br/>{{entry.comments}}</span>
