.btn-outline-secondary {
    background-color: #835858;
    color: #ffffff;
}

button.close span {
    display: inline;
}

button.close span {
    padding-left: 8px;
    opacity: 0.2;
}

button.close span:hover {
    color: red;
    opacity: 1;
}
