<div class="card">
    <hg-database-entry-images [tea]="tea" *ngIf="tea.pictures.length > 0"></hg-database-entry-images>

    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#info-{{tea.id}}">info</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#stats-{{tea.id}}">stats</a></li>
        </ul>
    </div>

    <div class="card-body tab-content">
        <hg-basic-info id="info-{{tea.id}}" class="tab-pane active" [tea]="tea"></hg-basic-info>
        <hg-stats id="stats-{{tea.id}}" class="tab-pane" [tea]="tea"></hg-stats>
    </div>

    <div class="card-footer text-muted" *ngIf="tea.date" [ngClass]="{borderdanger: !tea.stocked}">
        <p class="card-text float-right" *ngIf="tea.date"><small class="text-muted">Entered on {{tea.date}}</small></p>
    </div>
</div>
