.card {
    display: inline-block;
    margin: 10px;
    max-width: 450px;
    border-color: #586e83;
}

.nav-pills .nav-link.active {
    background-color: #835858;
    color: #ffffff;
}

.nav-pills .nav-link {
    color: #652f2f;
}

/*
.card-footer {
    color: #c0c8d0;
    background-color: #586e83;
}
*/
