.card {
    display: inline-block;
    margin: 10px;
    max-width: 450px;
    border-color: #586e83;
    box-shadow: 2px 3px 7px 0 rgba(151, 151, 151, 0.3);
}

@media (max-width: 575px) {
    .card-title {
        font-size: 1.25rem;
    }
    .card-subtitle {
        font-size: .85rem;
    }
}
