img {
    height: auto;
    width: auto;
    max-height: 28px;
    max-width: 40px;
    padding-left: 2px;
}

.small {
    max-width: 17px !important;
}

.unselected {
    opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}
