<div class="card border-primary">
    <h5 class="card-header">
        <input type="text" placeholder="Name" [(ngModel)]="name" />
    </h5>

    <div class="card-body container">
        <div class="row">
            <input type="text" placeholder="date" [(ngModel)]="date" />
        </div>
        <div class="row">
            <input type="text" placeholder="type" [(ngModel)]="type" />
        </div>
        <div class="row">
            <div class="col">
                <input type="text" placeholder="region" [(ngModel)]="region" />
            </div>
            <div class="col">
                <input type="text" placeholder="country" [(ngModel)]="country" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" placeholder="flush" [(ngModel)]="flush" />
            </div>
            <div class="col">
                <input type="text" placeholder="year" [(ngModel)]="year" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" placeholder="purchaselocation" [(ngModel)]="purchaselocation" />
            </div>
            <div class="col">
                <input type="text" placeholder="purchasedate" [(ngModel)]="purchasedate" />
            </div>
            <div class="col">
                <input type="text" placeholder="purchaseprice" [(ngModel)]="purchaseprice" />
            </div>
            <div class="col">
                <input type="text" placeholder="size" [(ngModel)]="size" />
                <div ngbDropdown>
                    <button id="dropdown-packaging"
                            class="btn btn-sm btn-block btn-primary"
                            ngbDropdownToggle>
                        <span *ngIf="packaging_idx == null">Packaging</span>
                        <span *ngIf="packaging_idx != null">{{ TeaPackagingTypes[packaging_idx] | lowercase }}</span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdown-packaging">
                        <button class="dropdown-item text-capitalize"
                                *ngFor="let t of TeaPackagingTypes | enumValues"
                                (click)="packaging_idx = TeaPackagingTypes[t]">
                            {{t}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <input *ngFor="let p of pictures; let i = index" type="text" [(ngModel)]="pictures[i]" />
            <button class="btn btn-sm btn-block btn-primary" (click)="addPicture()">Add picture...</button>
        </div>
        <div class="row">
            <textarea placeholder="comments" rows="1" cols="30" [(ngModel)]="comments"></textarea>
        </div>
        <div class="row">
            <div class="btn-group btn-group-toggle mx-1">
                <label class="btn-sm"
                       [ngClass]="{'btn-success': stocked, 'btn-danger': !stocked}"
                       ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="stocked">stocked
                </label>
            </div>
            <div class="btn-group btn-group-toggle mx-1">
                <label class="btn-sm"
                       [ngClass]="{'btn-success': aging, 'btn-danger': !aging}"
                       ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="aging">aging
                </label>
            </div>
            <div class="btn-group btn-group-toggle mx-1">
                <label class="btn-sm"
                       [ngClass]="{'btn-success': sample, 'btn-danger': !sample}"
                       ngbButtonLabel>
                    <input type="checkbox" ngbButton [(ngModel)]="sample">sample
                </label>
            </div>
        </div>
        <div class="row">
            <input type="text" placeholder="leafgrade" [(ngModel)]="leafgrade" />
        </div>
    </div>

    <div class="card-footer">
        <input type="button"
               class="btn btn-sm btn-primary createbtn"
               (click)="create()"
               value="Create">

        <input type="button"
               class="btn btn-sm btn-danger float-right"
               (click)="cancel()"
               value="Cancel">
    </div>
</div>
