.navbar {
    background-image: url('../assets/nav-bg.jpg');
}

.navbar-brand {
    display: inline;
}

.navbar-brand hg-teacupimg {
    position: relative;
    top: -4px;
}

.nav-item {
    margin-right: 1rem;
}
