<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex flex-row">
        <a class="navbar-brand" href="#">
            <hg-teacupimg width="30" height="30" class="d-inline-block align-top" alt="tea.hokiegeek.net"></hg-teacupimg>
        </a>

        <span>
            <ul class="navbar-nav nav mr-auto">
                <li class="nav-item" [ngClass]="{active: selectedTab === 'database'}">
                    <a class="nav-link" href="#" routerlink="/db" (click)="selectedTab = 'database'">Teas</a>
                </li>
                <!--li class="nav-item" [ngClass]="{active: selectedTab === 'stats'}">
                    <a class="nav-link" href="#" routerlink="/stats" (click)="selectedTab = 'stats'">Stats</a>
                </li-->
            </ul>
        </span>
    </div>

    <button class="navbar-toggler collapse-lg" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<main role="main">
    <div class="tab-content pt-10">
        <router-outlet></router-outlet>
    </div>
</main>
