#entrydate {
    font-size: .8em;
}

#comments {
    color: #5b5b5b;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

@media (min-width: 576px) {
    #title {
        font-family: 'Oxygen', sans-serif;
        font-size: 17px;
    }

    #fixins {
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    #title {
        font-family: 'Oxygen', sans-serif;
        font-size: 15px;
    }

    #fixins {
        font-size: 13px;
    }
}
