<div class="card">
    <div class="card-body container">
            <div class="row card-title">
                <span id="steeptime" *ngIf="entry.steeptime">{{entry.steeptime}}</span>
                <span id="vessel" *ngIf="entry.steepingvessel">&nbsp;using the {{entry.steepingvessel | lowercase}}</span>
                <span id="temperature" *ngIf="entry.steeptemperature">&nbsp;at {{entry.steeptemperature}} &deg;F</span>
            </div>

            <h6 class="card-subtitle text-muted d-inline" *ngIf="entry.fixins.length > 0">&nbsp;with&nbsp;{{entry.fixins | lowercase}}</h6>

            <div class="row">
                <span id="comments" class="card-text d-block p-t-1" *ngIf="entry.comments">{{entry.comments}}</span>
            </div>

            <div class="row">
                <span id="entrydate" class="card-text text-muted small d-block" title="{{entry.datetime}}">
                    {{entry.datetime | naturalDate}}
                </span>
            </div>

            <hg-rating id="rating" class="float-right p-l-3" rating="{{entry.rating}}" max=4></hg-rating>
    </div>
</div>
