<div class="card">
    <h5 class="card-header" *ngIf="tea != null">
        {{ tea.name }}
    </h5>

    <div class="card-header" *ngIf="tea != null">
        <ul class="nav nav-tabs card-header-tabs nav-fill">
            <li class="nav-item"><a data-toggle="tab" class="nav-link active" href="#entries-{{tea.id}}">entries</a></li>
            <li class="nav-item"><a data-toggle="tab" class="nav-link" href="#teaedit-{{tea.id}}">tea</a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div [attr.id]="tea != null ? 'entries-'+tea.id : null" class="tab-pane active" *ngIf="tea != null">
            <ul class="list-group list-group-flush" *ngIf="sortedEntries.length > 0">
                <li *ngFor="let e of sortedEntries"
                    class="list-group-item small"
                    [ngClass]="{'selected': isEntrySelected(e)}"
                    [title]="e.comments"
                    (click)="entry = e">
                    {{ e.datetime | date:'M/d@HHmm' }} for {{ e.steeptime | steeptime }}
                    <hg-rating style="float: right" [rating]="e.rating" max="4" [small]="true"></hg-rating>
                </li>
            </ul>

            <hg-entry-edit
                [tea]="tea"
                [entry]="entry"
                [cancelable]="cancelable"
                (created)="createEntry($event)"
                (updated)="updateEntry($event)"
                (canceled)="close()">
            </hg-entry-edit>
        </div>

        <div [attr.id]="tea != null ? 'teaedit-'+tea.id : null" class="tab-pane" [ngClass]="{'active': tea == null}">
            <hg-tea-edit
                [tea]="tea"
                [cancelable]="cancelable"
                (created)="createTea($event)"
                (updated)="updateTea($event)"
                (canceled)="close()">
            </hg-tea-edit>
        </div>
    </div>
</div>
