/*
@media (min-width: 576px) {
    .card {
        min-width: 310px !important;
    }
}
*/

.list-group {
    max-height: 8rem;
    overflow-y: scroll;
}

.list-group {
    border-bottom: 1px solid #dfdfdf;
}

.list-group-item.selected,
.list-group-item:hover {
    cursor: pointer;
    background: #c0c0c0;
}

@media (max-width: 575px) {
    .card-body {
        padding: .5rem;
    }
}
