<h6>Filters</h6>
<hr />
<div class="container">
    <div class="col">
        <hg-string-field class="row" [name]="filterTeaTypes" [values]="teaTypes" [filter]="view.filter"></hg-string-field>
        <hg-string-field class="row" [name]="filterCountries" [values]="countries" [filter]="view.filter"></hg-string-field>
        <hg-string-field class="row" [name]="filterPurchaseLocation" [values]="purchaseLocations" [filter]="view.filter"></hg-string-field>
        <hg-flag-field class="row" [name]="filterStocked" [filter]="view.filter"></hg-flag-field>
        <hg-flag-field class="row" [name]="filterEntries" [filter]="view.filter"></hg-flag-field>
        <hg-flag-field class="row" [name]="filterSample" [filter]="view.filter"></hg-flag-field>
    </div>
</div>
