<h6>Filters</h6>
<hr />
<div class="container">
    <div class="col">
        <hg-string-field class="row" label="Tea Type" [name]="filterTeaTypes" [values]="teaTypes" [filter]="filters.active"></hg-string-field>
        <hg-string-field class="row" label="Countries" [name]="filterCountries" [values]="countries" [filter]="filters.active"></hg-string-field>
        <hg-flag-field class="row" label="Stocked" [name]="filterStocked" [filter]="filters.active"></hg-flag-field>
        <hg-flag-field class="row" label="With entries" [name]="filterEntries" [filter]="filters.active"></hg-flag-field>
        <hg-flag-field class="row" label="Sample" [name]="filterSample" [filter]="filters.active"></hg-flag-field>
    </div>
    <!-- TODO
        ratings min, max
    -->
</div>
