<div class="small text-secondary d-flex justify-content-between">
    <div id="view-options-link" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
        <span class="collapse-sm">view </span>options
    </div>
    <div>
        <span class="collapse-sm">Displaying&nbsp;</span>{{processedTeas.length}}&nbsp;tea<span *ngIf="processedTeas.length > 1">s</span>&nbsp;with {{numEntries}} entries
    </div>
</div>
<div class="card-deck">
    <hg-database-entry *ngFor="let tea of processedTeas" [tea]="tea"></hg-database-entry>
</div>
