<div class="small text-secondary d-flex justify-content-between">
    <div class="collapse-sm" id="view-options-link" title="View options" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
        <i class="fa fa-bars"></i>
    </div>
    <div class="collapse-lg">&nbsp;</div>
    <div>
        <span class="collapse-sm">Showing&nbsp;</span>{{processedTeas.length}}&nbsp;tea<span *ngIf="processedTeas.length > 1">s</span>&nbsp;with {{numEntries}}<span class="collapse-sm"> journal</span> entries
    </div>
</div>

<hg-paginator [pages]="pages" [current]="currentPage" (change)="pageChange($event)"></hg-paginator>

<div class="card-deck">
    <hg-database-entry *ngFor="let tea of teasOnCurrentPage" [tea]="tea"></hg-database-entry>
</div>

<hg-paginator [pages]="pages" [current]="currentPage" (change)="pageChange($event)"></hg-paginator>
