@media (max-width: 575px) {
}

@media (min-width: 576px) {
    hg-tealist {
        padding: 0px;
        height: 97vh;
        overflow-y: scroll;
        overflow-x: hidden;

        flex: 0 0 25%;
        max-width: 25%;
    }

    .card-columns {
        overflow-y: scroll;
        overflow-x: auto;
    }
}

hg-tea-editor > .card {
    min-width: 350px;
}
