<div class="container-fluid h-100" *ngIf="teas.length > 0">
    <div class="row h-100">
        <!-- Select a session or a tea (smaller devices) -->
        <div class="btn-group mb-3 selecttea collapse-lg" ngbDropdown>
            <button id="dropdown-tea"
                    class="btn btn-sm btn-block btn-primary rounded-0"
                    ngbDropdownToggle>
                Select a tea
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown-tea">
                <button class="dropdown-item text-capitalize"
                        (click)="newTeas.push(newTeas.length)">
                    Create new tea...
                </button>
                <div class="dropdown-divider"></div>
                <button *ngFor="let t of stockedTeas"
                        class="dropdown-item text-capitalize"
                        (click)="selectTea(t)">
                    {{t.name}}&nbsp;<span class="text-muted small">{{t.id}}</span>
                </button>
            </div>
        </div>

        <!-- SELECT TEA (larger devices) -->
        <aside class="selecttea col-sm-3 collapse-sm">
            <div class="tea-list-item pl-1 text-capitalize"
                 (click)="newTeas.push(newTeas.length)">
                Create new tea...
            </div>
            <hr />
            <div class="tea-list-item pl-1 text-capitalize"
                 *ngFor="let t of stockedTeas"
                 (click)="selectTea(t)">
                {{t.name}}&nbsp;<span class="text-muted small">{{t.id}}</span>
            </div>
        </aside>

        <div class="col card-columns py-1">
            <hg-tea-editor
                *ngFor="let t of newTeas"
                (createdTea)="createTea(t, $event)"
                (canceled)="removeTeaCreator(t)">
            </hg-tea-editor>

            <hg-tea-editor
                *ngFor="let t of selectedTeas"
                [tea]="t"
                (createdEntry)="createEntry(t, $event)"
                (updatedEntry)="updateEntry(t, $event)"
                (updatedTea)="updateTea($event)"
                (canceled)="unselectTea(t)">
            </hg-tea-editor>

            <hg-unrated
                *ngFor="let e of unratedEntriesList"
                [tea]="unratedEntries.get(e)"
                [entry]="e"
                (updated)="updateEntry(unratedEntries.get(e), $event)">
            </hg-unrated>

            <hg-tea-editor
                *ngFor="let t of teasWithOpenSessions"
                [tea]="t"
                [cancelable]="false"
                (createdEntry)="createEntry(t, $event)"
                (updatedEntry)="updateEntry(t, $event)"
                (updatedTea)="updateTea($event)">
            </hg-tea-editor>
        </div>
    </div>
</div>
