@media (max-width: 575px) {
    .selecttea {
        width: 100vw;
    }
}

@media (min-width: 576px) {
    .selecttea {
        height: 97vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tea-list-item.active,
    .tea-list-item:hover
    {
        cursor: pointer;
        background-color: #193251;
        color: #ffffff;
    }

    .card-columns {
        overflow-y: scroll;
        overflow-x: auto;
    }
}

@media (min-width: 576px) {
    hg-tea-editor {
        min-width: 310px;
    }
}
