@media (max-width: 575px) {
}

@media (min-width: 576px) {
    /*
    hg-tealist {
        padding: 0px;
        height: 97vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    */

    hg-tea-editor {
        padding-bottom: 5px;
        max-width: 25rem;
    }
}

hg-tea-editor > .card {
    min-width: 350px;
}
