<!-- Select a session or a tea -->
<div class="btn-group mb-3">
    <div class="btn-group" ngbDropdown>
        <button id="dropdown-tea"
                class="btn btn-sm btn-outline-secondary"
                ngbDropdownToggle>
            <span *ngIf="tea === null">Select a tea</span>
            <span *ngIf="tea != null">{{ tea.name }}</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown-tea">
            <!--input type="text" class="form-control" aria-label="Steep time"-->
            <button class="dropdown-item text-capitalize"
                    *ngFor="let t of stockedTeas"
                    (click)="tea = t"
                    >
                    {{t.name}}
            </button>
        </div>
    </div>
    <div class="btn-group" ngbDropdown>
        <button id="dropdown-session"
                class="btn btn-sm btn-outline-secondary"
                ngbDropdownToggle>
            <span *ngIf="tea === null">or continue a session</span>
            <span *ngIf="tea != null">....</span>
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdown-session">
            <button class="dropdown-item"
                    *ngFor="let s of sessions()"
                    (click)="selectSession(s)"
                    >
                    {{s}}
            </button>
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-around" [ngClass]="{'invisible': tea === null}">
    <!-- -->
    <div class="d-flex flex-row">
        <div class="input-wrapper collapse-lg">
            <input [(ngModel)]="dateTime" [owlDateTimeTrigger]="dtlg" [owlDateTime]="dtlg">
            <owl-date-time class="collapse-lg" [pickerMode]="'dialog'" #dtlg></owl-date-time>
        </div>
        <div class="input-wrapper collapse-sm">
            <input [(ngModel)]="dateTime" [owlDateTimeTrigger]="dtsm" [owlDateTime]="dtsm">
            <owl-date-time class="collapse-sm" #dtsm></owl-date-time>
        </div>

        <div class="input-group input-group-sm mb-3 col-2">
            <div class="input-group-prepend">
                <span class="input-group-text">for</span>
            </div>
            <input type="text" class="form-control" placeholder="Steep time" aria-label="Steep time" [(ngModel)]="steeptime">
        </div>
    </div>

    <!-- -->
    <div class="d-flex flex-row mb-3">
        <div ngbDropdown>
            <button id="dropdown-vessel"
                    class="btn btn-sm btn-block btn-outline-secondary"
                    ngbDropdownToggle>
                in the
                <span *ngIf="vessel != null">{{ SteepingVessels[vessel] | lowercase }}</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown-vessel">
                <button class="dropdown-item text-capitalize"
                        *ngFor="let t of teaVessels"
                        >
                        {{t}}
                </button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item text-capitalize"
                        *ngFor="let t of SteepingVessels | enumValues"
                        >
                        {{t}}
                </button>
                    <!-- (click)="vessel = t" -->
            </div>
        </div>&nbsp;
        at
        <div class="input-group input-group-sm col-2 temperature">
            <input type="text" class="form-control" aria-label="Temperature in F" [(ngModel)]="temperature">
            <div class="input-group-append">
                <span class="input-group-text">&deg;F</span>
            </div>
        </div>
    </div>

    <!-- -->
    <div class="d-flex flex-row mb-3">
        <div *ngIf="fixins.length > 0">
            with<span *ngFor="let f of fixins; let i = index"
         class="fixin"
         title="Remove {{ f | lowercase }}"
         (click)="removeFixin(f)"
         ><span *ngIf="i !== 0">,</span>&nbsp;<span *ngIf="fixins.length > 1 && i == fixins.length - 1">and&nbsp;</span>{{ f | lowercase }}</span>
        </div>
        <span *ngIf="fixins.length > 0">&nbsp;</span>
        <div ngbDropdown class="d-inline-block">
            <button id="dropdown-fixins"
                    class="btn btn-sm btn-block btn-outline-secondary"
                    ngbDropdownToggle>
                <span *ngIf="fixins.length === 0">with</span>
                <span *ngIf="fixins.length > 0">and</span>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown-fixins">
                <button class="dropdown-item"
                        *ngFor="let f of TeaFixins | enumValues"
                        (click)="addFixin(f)"
                        >
                        {{f | lowercase }}
                </button>
            </div>
        </div>
    </div>

    <!-- -->
    <div class="d-flex flex-row mb-3">
        <hg-rating [(rating)]="rating" max="4" editable=true></hg-rating>
        <div>{{ rating }}</div>
    </div>

    <!-- -->
    <div class="d-flex flex-row mb-3">
        <textarea placeholder="Comments" rows="1" cols="30" [(ngModel)]="comments"></textarea>
    </div>
</div>

<div class="btn-group btn-group-toggle" *ngIf="tea != null">
    <input type="button"
           class="btn btn-sm btn-outline-secondary"
           (click)="createEntry()"
           value="Create">

    <label class="btn-sm"
           [ngClass]="{'btn-success': !sessionClosed, 'btn-danger': sessionClosed}"
           ngbButtonLabel>
        <input type="checkbox" ngbButton [(ngModel)]="sessionClosed">Session
    </label>
</div>
