<p class="card-text purchase-info">
    <span *ngIf="tea.size">{{tea.size}}g&nbsp;</span>
    <span *ngIf="tea.sample">sample&nbsp;</span>
    <span *ngIf="tea.packaging != null && !packagingNotLooseLeaf">as loose leaf&nbsp;</span>
    <span *ngIf="packagingNotLooseLeaf">{{tea.packaging | lowercase}}&nbsp;</span>
    <span *ngIf="tea.purchaselocation">from
        <a [href]="'http://' + tea.purchaselocation" *ngIf="locationIsUrl">{{tea.purchaselocation | lowercase}}</a>
        <span *ngIf="!locationIsUrl">{{tea.purchaselocation | lowercase}}</span>
    </span>
    <span *ngIf="tea.purchasedate"> on {{tea.purchasedate | date:'yyyy-MM-dd'}}&nbsp;</span>
    <span *ngIf="tea.purchaseprice">for {{tea.purchaseprice | currency:'USD':'$'}}&nbsp;</span>
</p>
