<h6>Sort</h6>
<hr />
<div class="container">
    <div class="col">
        <div class="row" *ngFor="let field of view.sorter.assignedFields" >
            <hg-sort-field [name]="field" class="w-100"></hg-sort-field>
        </div>

        <div class="row" *ngIf="availableFields().length > 0">
            <div ngbDropdown placement="bottom"class="btn-block" title="Click to add more fields" *ngIf="availableFields().length > 0">
                <button id="dropdown-more" class="btn btn-sm btn-block btn-outline-secondary" ngbDropdownToggle>+</button>
                <div ngbDropdownMenu aria-labelledby="dropdown-more">
                    <button class="dropdown-item"
                            *ngFor="let field of availableFields()"
                            (click)="assign(field)">
                        {{field}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
