<h6>Sort</h6>
<hr />
<div class="container">
    <div class="col">
        <div class="row">
            <ul>
                <li *ngFor="let field of sorters.active.assignedFields">
                    <hg-sort-field [name]="field" [sorter]="sorters.active"></hg-sort-field>
                    <button type="button"
                            class="close"
                            aria-label="Remove"
                            title="Remove this field"
                            (click)="sorters.active.removeField(field)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
            </ul>
        </div>

        <div class="row" *ngIf="availableFields().length > 0">
            <div ngbDropdown>
                <button id="dropdown-more" class="btn btn-sm btn-outline-secondary" ngbDropdownToggle>
                    <span style="font-size: 1.35em">+</span>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdown-more">
                    <button class="dropdown-item"
                            *ngFor="let field of availableFields()"
                            (click)="assign(field)">
                        {{field}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
