@media (max-width: 575px) {
    aside {
        width: 100vw;
    }
}

.nav-item {
    cursor: pointer;
}

.tea-list-item.active,
.tea-list-item:hover
{
    cursor: pointer;
    background-color: #193251;
    color: #ffffff;
}
