.btn-primary,
.btn-primary.disabled, .btn-primary:disabled,
.page-item.active .page-link,
.nav-pills .nav-link.active
{
    color: #ffffff;
    background-color: #193251;
    border-color: #193251;
}

.btn-primary:hover
{
    background-color: #2b568b;
}

.page-link,
.nav-pills .nav-link
{
    color: #0d1a2a;
}

@media (max-width: 499px) {
    .collapse-sm {
        display: none !important;
    }
    aside {
        border-bottom: 1px solid #abb6c1;
    }
}

@media (min-width: 500px) {
    .collapse-lg {
        display: none !important;
    }
    aside {
        border-right: 1px solid #abb6c1;
    }
}

aside {
    background-color: #eaefec;
}
