.btn-primary,
.page-item.active .page-link,
.nav-pills .nav-link.active
{
    color: #ffffff;

    background-color: #835858;
    border-color: #835858;
}

.page-link,
.nav-pills .nav-link
{
    color: #666666;
    color: #652f2f;
}

@media (max-width: 499px) {
    .collapse-sm {
        display: none;
    }
}

@media (min-width: 500px) {
    .collapse-lg {
        display: none;
    }
}

button.close span {
    padding-left: 8px;
    opacity: 0.2;
}

button.close span:hover {
    color: red;
    opacity: 1;
}
